body{
	background-color: #082032;
}
h1{
	color: #93B5C6;
	padding: 2em;
}
form{
	text-align: center;
}
div{
	text-align: center;
	padding-bottom: 10em;
}
textarea{
	margin-bottom: 3em;
}
h3{
	color: #FF4C29;
}